.testimonialContainer{
    margin:130px auto;
    width: 45%;
    background-color: slateblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.profileImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
}
#text{
    color: white;
    font-size: 1.1rem;
    font-family: "Playwrite AU SA", serif;
    margin-bottom: 20px;
}
#userName{
    color: rgb(67, 50, 6);
    font-family: "Playwrite AU SA", serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}
.slide{
    display: flex;
}
button{
    background-color: transparent;
    /* height: 50px; */
    border: none;
    color: white;
    font-size: 4rem;
    opacity: 0.05;
    cursor: pointer;
}
