.container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.6rem;
    color: rgb(96, 88, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#timer{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 4rem;
    color: rgb(96, 88, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-wrapper{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.btn{
    font-size: 1.2rem;
    color: white;
    width: 100px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#start{
    background-color: #27ae60;
}
#stop{
    background-color: #c0392bed;
}
#reset{
    background-color: #7f8c8d;;
}

#start:hover{
    background-color: #80d7a4;
}
#stop:hover{
    background-color: #bd6a61ed;
}
#reset:hover{
    background-color: #a8acad;
}
